Source: wazo-python-pyfcm-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 12),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9
Homepage: https://github.com/olucurious/PyFCM

Package: python3-pyfcm
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-requests,
         python3-requests-toolbelt
Description: Python client for FCM - Firebase Cloud Messaging (Android, iOS and
 Web)
 .
